{% extends "comap/base.html" %}
{% load staticfiles %}
{% block container %}
<br/><br/><br/>
<h2>Editing {{ waypoint.name }} Waypoint</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div id="edit">
    <form id="waypointForm" action="{% url 'api:waypoints-detail' waypoint.fid %}" method="post"
          enctype="multipart/form-data" role="form">
    {% csrf_token %}
    <input type="hidden" id="fid" name="fid" value="{{ waypoint.fid }}"/>
    <div class="form-group row" id="form-group-name">
        <div class="col-md-5">
            <strong><label class="control-label" for="name">Waypoint name: </label></strong>
            <input class="form-control" type="text" name="name" id="name" value="{{ waypoint.name }}" />
        </div>
    </div>
    <div class="form-group row" id="form-group-description">
        <div class="col-md-6">
            <strong><label class="control-label" for="description">Waypoint Description: </label></strong>
            <textarea name="description" id="description" class="tinymce form-control">{{ waypoint.description}}</textarea>
            
        </div>
        <strong><label class="control-label" for="name">Edit waypoint location: </label></strong>
        <div class="col-md=6" id="edit-map"></div>
        
    </div>
    
    <div class="form-group row">
     <div class="col-md-5" style="float:left;">
            <strong><label class="control-label" for="image_path">Select an image to use for this waypoint: </label></strong>
            <input type="file" name="file" id="file"/> 
        </div>
      <div class="col-md-6" id="location">
        <span><strong>Latitude:</strong></span><span id="lat">&nbsp;</span><br/>
        <span><strong>Longitude:</strong><span id="lng">&nbsp;</span><br/>
        <span><strong>Elevation:</strong><span id="elev">&nbsp;{{ waypoint.elevation }} metres</span>
        <input type="hidden" id="elevation" name="elevation" value="{{ waypoint.elevation }}"/>
        <input type="hidden" id="the_geom" name="the_geom" value="{{ waypoint.the_geom }}"/>
      </div>
    </div>
    
    <div class="form-group row pull-left">
        <div class="col-md-6">
            <button id="save" type="submit" class="btn btn-sm btn-success" value="PUT" name="_method"><span class="glyphicon glyphicon-save"></span> Save waypoint</button>
        </div>
    </div>
    
    <div class="form-group row">
        <div class="col-md-12">
          <div id="progressbar">
                  <div class="progress-label"></div>
           </div>
        </div>
    </div>
          
    </form>
    
    </div>
    
    
    <!-- waypoint preview -->
    <div id="info" class="pull-left info">
      <h4>{{ waypoint.name }} (Preview)</h4>
      <p><img src="/comap/media/{{ waypoint.image_path }}"/></p>
      {{ waypoint.description | safe }}
      <p><strong>Latitude: </strong>{{ waypoint.latitude }}</p>
      <p><strong>Longitude: </strong>{{ waypoint.longitude }}</p>
      <p><strong>Elevation: </strong>{{ waypoint.elevation }}</p>
      <p><strong>Updated: </strong>{{ waypoint.date }}</p>
    </div>
{% endblock %}
{% block corejs %}
{{ block.super }}
<script src="{% static "waypoints/js/EditMapJSON.js" %}" type="text/javascript" defer></script>
<script src="{% static "waypoints/js/Layers.js" %}" type="text/javascript" defer></script>
<script src="{% static "waypoints/js/Config.js" %}" type="text/javascript" defer></script>
<script src="{% static "js/tinymce/js/tinymce/jquery.tinymce.min.js" %}" type="text/javascript"></script>
<script src="http://code.jquerygeo.com/jquery.geo-1.0.0-b1.5.min.js"></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
    $(function() {
            $('textarea.tinymce').tinymce({
                    // Location of TinyMCE script
                    script_url : '{% static "js/tinymce/js/tinymce/tinymce.min.js" %}',
                    
                    // General options
                    selector: "textarea",
                    theme : "modern",
                    menubar: false,
                    plugins: [
                        "advlist autolink lists link charmap hr anchor",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime nonbreaking contextmenu directionality",
                    ],
                    toolbar1: "undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link",
                    width:400,
                    height:248,
            });
    });
</script>

<!-- load map -->
<script type="text/javascript">
    var editMap;
    $(document).ready(function() {
        var fid = $('#fid').val();
        editMap = new EditMap();
        editMap.initialize(fid); // initialize the edit map with the fid to update..
        editMap.main();
        var wkt = new OpenLayers.Format.WKT();
        var point = $('input#the_geom').val();
        var geom = wkt.read(point).geometry;
        $('span#lat').html('&nbsp;' + geom.y);
        $('span#lng').html('&nbsp;' + geom.x);        
        // TODO: round elevation when page first loads..
    });
    
    /* progressbar stuff */
    var progressbar = $('#progressbar').progressbar();
    $('#progressbar').css("display","none");
    $('#waypointForm').ajaxForm({
        beforeSubmit: function(arr, $form, options) {
            $('#progressbar').css("display","block");
        },
        uploadProgress: function(event, position, total, percentComplete) {
            progressbar.progressbar({value: percentComplete});
        },
        success: function(data, status, xrh) {
            $('#progressbar').css("display","none");
            console.log(data);
            console.log(status);
            var attrs = xrh.responseJSON.properties
            $('#form-group-name').removeClass('has-error');
            $('#info').removeClass('error');
            /* clear existing feature info and rebuild */
            $('#info').empty();
            $('#info').append('<h4>' + attrs.name + '</h4>');
            $('#info').append('<p><img id="info" src="/comap/media/' + attrs.image_path + '"/></p>');
            $('#info').append('<p>' + attrs.description + '</p>');
            $('#info').append('<p><strong>Latitude:</strong> ' + attrs.latitude + '</p>');
            $('#info').append('<p><strong>Longitude:</strong> ' + attrs.longitude + '</p>');
            $('#info').append('<p><strong>Elevation:</strong> ' + Math.round(attrs.elevation) + ' metres</p>');
            $('#info').append('<strong>Updated:</strong> ' + attrs.date + '</p>');
            
            // force a refresh of the map when the waypoint is saved..
            // TODO: fix hardcoding of layer name..
            var layer = editMap.map.getLayersByName('Heritage Route South Waypoints')[0]; 
            layer.refresh({force:true});
        },
        error: function(xhr, status, error){
            $('#progressbar').css("display", "none");
            $('#info').empty();
            var json = xhr.responseJSON
            errors = json.errors;
            $('#info').addClass('error');
            $('#info').append('<h3>Please correct these errors:</h3>');
            $.each(errors, function(i, error){
                console.log(error);
                $('#form-group-' + error).addClass('has-error');
                $('#info').append('<p><strong>' + error + '</strong> is a required field.</h4>');
            });
        },
    });
</script>
{% endblock %}
