{% extends "comap/base.html" %}
{% load staticfiles %}
{% block container %}
<br/><br/><br/>
<h2>Heritage Cycle Route South Waypoints</h2>
    <div id="list">
    {% if waypoints_list %}
        <ul class="list-group">
        {% for waypoint in waypoints_list %}
            <!--<li><a id="{{ waypoint.fid }}" href="{% url 'waypoints:edit'  waypoint.fid %}">{{ waypoint.name }}</a></li>-->
            <li class="list-group-item" id="{{ waypoint.fid }}"><a id="{{ waypoint.fid }}" href="#">{{ waypoint.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No waypoints are available.</p>
    {% endif %}
    </div>
    <div id="map"></div>
    <div id="instructions" class="instructions"><span>Select a waypoint name from the list or a point on the map to get started...</span></div>
    <div id="info" class="info">
        <p><span class="name"></span></p>
        <p><span class="image"></span></p>
        <p><span class="description"></span></p>
        <p><span><strong>Elevation: </strong></span><span class="elevation"></span></p>
        <p><span><strong>Latitude: </strong></span><span class="latitude"></span></p>
        <p><span><strong>Longitude: </strong></span><span class="longitude"></span></p>
        <p><a class="editlink" href=""><button><span class="glyphicon glyphicon-edit"></span> Edit this waypoint</button></a>
        <!--<a><button id="btnDelete"><span class="glyphicon glyphicon-remove"></span> Delete this waypoint</button></a>-->
        <form id="deleteForm" method="post" action="" role="form" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" value="DELETE" name="_method"/>
            <a><button id="btnDelete" type="button"><span class="glyphicon glyphicon-remove"></span> Delete this waypoint</button></a>
        </form>
        </p>
    </div>
    <div id="dialog-confirm" title="Really delete this waypoint?"></div>
{% endblock %}


{% block corejs %}
{{ block.super }}
<!-- load map -->
<script src="{% static "waypoints/js/IndexMapJSON.js" %}" type="text/javascript" defer></script>
<script src="{% static "waypoints/js/Layers.js"  %}" type="text/javascript" defer> </script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script type="text/javascript">
    var indexMap;
    var confirmDialog;
    var deleteCancelled;
    var deleteUrl;
    $(document).ready(function() {
        indexMap = new IndexMap();
        indexMap.main();
        var options = {
            dataType: 'json',
            beforeSubmit: function(arr, $form, options) {
                console.log('in before submit..');
            },
            success: function(data, status, xhr) {
                console.log(status);
                if (status == 'nocontent') {
                    var layer = indexMap.map.getLayersByName('Heritage Route South Waypoints')[0]; 
                    layer.refresh({force:true});    
                    alert('Waypoint deleted.');
                }
            },
            error: function(xhr, status, error){
                var json = xhr.responseJSON
                errors = json.errors;
                console.log(errors);
                /*
                $('#info').addClass('error');
                $('#info').append('<h3>Please correct these errors:</h3>');
                $.each(errors, function(i, error){
                    console.log(error);
                    $('#form-group-' + error).addClass('has-error');
                    $('#info').append('<p><strong>' + error + '</strong> is a required field.</h4>');
                });
                */
            },
        }
        $('#deleteForm').ajaxForm(options);
        $('#dialog-confirm').dialog({
           resizable: false,
           height:200,
           width:400,
           autoOpen: false,
           modal: true,
           buttons: {
                "Delete": function() {
                    $('#deleteForm').ajaxSubmit(options);
                    $( this ).dialog( "close" );
                    window.location.reload();
                },
                "Cancel": function() {
                    $( this ).dialog( "close" );
                }
            }
        });
    });
</script>
<script type="text/javascript" defer>
    $('#btnDelete').click(function(e){
        $('#dialog-confirm').html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"> \
                                  </span>This waypoint will be permanently deleted and cannot be recovered. Are you sure?</p>');
        $('#dialog-confirm').dialog('open');
    });
    
</script>

{% endblock %}
