{% extends "comap/base.html" %}
{% load staticfiles %}
{% block container %}
    <div class="container-fluid">
        <div class="row col-md-3">
            <div id="list" class="panel panel-default">
                <!-- Default panel contents -->
                <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-globe pull-left">&nbsp</span>
                    <div id="heading"><h5>Loading waypoints...</h5></div>
                </div>
                <div id="panel" class="panel-body">
                </div>
                <!-- List group -->
                <ul class="list-group"></ul>
            </div>
            <div id="create-link" class=""></div>
        </div>
        <div class="col-md-9">
            <div id="map" class=""></div>
            <div id="detail-panel" class="panel panel-default pull-right" style="width:40%;">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon-heading glyphicon glyphicon-map-marker pull-left">&nbsp</span>
                    <div id="detail-heading"><h5>Select a waypoint</h5></div>
                </div>
                <div id="detail-panel-body" class="panel-body">
                    <p><span class="image"></span></p>
                    <p><span class="description"></span></p>
                    <p><span><strong>Elevation: </strong></span><span class="elevation"></span></p>
                    <p><span><strong>Latitude: </strong></span><span class="latitude"></span></p>
                    <p><span><strong>Longitude: </strong></span><span class="longitude"></span></p>
                    <p><span><strong>Created: </strong></span><span class="created"></span></p>
                    <p><hr/></p>
                    <p><a class="editlink" href=""><button><span class="glyphicon glyphicon-edit"></span> Edit this waypoint</button></a>
                    <!--<a><button id="btnDelete"><span class="glyphicon glyphicon-remove"></span> Delete this waypoint</button></a>-->
                    <form id="deleteForm" method="post" action="" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="DELETE" name="_method"/>
                        <a><button id="btnDelete" type="button"><span class="glyphicon glyphicon-remove"></span> Delete this waypoint</button></a>
                    </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-confirm" title="Really delete this waypoint?"></div>
{% endblock %}


{% block corejs %}
{{ block.super }}
<!-- load map -->
<script src="{% static "waypoints/js/WaypointApp.js" %}" type="text/javascript"></script>
<script src="{% static "waypoints/js/Layers.js"  %}" type="text/javascript"> </script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
    var waypointMap;
    $(document).ready(function() {
        waypointApp = new WaypointApp();
        waypointApp.main();
    });
</script>
<script type="text/javascript" defer>
    $('#btnDelete').click(function(e){
        $('#dialog-confirm').html('<p><span class="glyphicon glyphicon-warning-sign" style="float:left; font-size: 1.5em; color: red; margin:0 7px 20px 0;"> \
                                  </span>This Waypoint will be permanently deleted and cannot be recovered. Are you sure?</p>');
        $('#dialog-confirm').dialog('open');
    });
</script>
{% endblock %}
