{% extends "comap/base.html" %}
{% load staticfiles %}
{% block container %}
    <div class="container-fluid">
        <div class="row col-md-3">
            <div id="list" class="panel panel-default">
                <!-- Default panel contents -->
                <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-globe pull-left">&nbsp</span>
                    <div id="heading"><h5>Loading routes...</h5></div>
                </div>
                <div id="panel" class="panel-body">
                </div>
                <!-- List group -->
                <ul class="list-group"></ul>
            </div>
            <div id="create-link" class="listlink"></div>
        </div>
        <div class="col-md-9">
            <div id="map" class=""></div>
            <div id="detail-panel" class="panel panel-default pull-right" style="width:40%;">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <span class="glyphicon-heading glyphicon glyphicon-pushpin pull-left">&nbsp</span>
                    <div id="detail-heading"><h5>Select a route</h5></div>
                </div>
                <div id="detail-panel-body" class="panel-body">
                    <p><span class="image"></span></p>
                    <p><span class="description"></span></p>
                    <p><span><strong>Created: </strong></span><span class="created"></span></p>
                    <p><hr/></p>
                    <p><a class="editlink" href=""><button><span class="glyphicon glyphicon-edit"></span> Edit this route</button></a>
                    <form id="deleteForm" method="post" action="" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" value="DELETE" name="_method"/>
                        <a><button id="btnDelete" type="button"><span class="glyphicon glyphicon-remove"></span> Delete this route</button></a>
                    </form>
                    </p>
                    <p><a class="waypointlink" href=""><button><span class="glyphicon glyphicon-list"></span> List waypoints for this route</button></a></p>
                </div>
            </div
        </div>
    </div>
    <div id="dialog-confirm" title="Really delete this route?"></div>
{% endblock %}
{% block corejs %}
{{ block.super }}
<!-- load map -->

<script src="{% static "routes/js/RouteApp.js" %}" type="text/javascript"></script>
<script src="{% static "waypoints/js/Layers.js"  %}" type="text/javascript"> </script>
<script src="http://malsup.github.com/jquery.form.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        routeApp = new RouteApp();
        routeApp.main();
    });
</script>
<script type="text/javascript" defer>
    $('#btnDelete').click(function(e){
        $('#dialog-confirm').html('<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"> \
                                  </span>This Route will be permanently deleted and cannot be recovered. All \
        Track Data and Waypoints associated with this route will also be deleted. Are you sure?</p>');
        $('#dialog-confirm').dialog('open');
    });
</script>
{% endblock %}
