{% extends "ui/base.html" %}
{% load staticfiles %}
{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div id="routes" class="col-md-3">
                <div id="list" class="panel panel-default">
                    <div id="heading-wrap" class="panel-heading"><span class="glyphicon-heading glyphicon glyphicon-list pull-left">&nbsp</span>
                        <div id="heading"><h5>Loading routes...</h5></div>
                    </div>
                    <div id="panel" class="panel-body"></div>
                    <ul class="list-group"></ul>
                </div>
                <div id="create-link" class="listlink"></div>
            </div>
            <div class="col-md-6">
                <div id="routes-map-panel" class="panel panel-default">
                    <div class="panel-heading">
                        <span class="glyphicon-heading glyphicon glyphicon-globe pull-left">&nbsp</span>
                        <button id="reset-map" type="button" class="btn btn-default pull-right" data-toggle="tooltip" data-placement="right" title="Reset map"><span class="glyphicon glyphicon-refresh pull-right"/></button>
                        <div><h5>Route Map</h5></div>
                    </div>
                    <div id="map-panel" class="panel-body">
                        <div id="map" class="pull-left"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div id="detail-panel" class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        <span class="glyphicon-heading glyphicon glyphicon-pushpin pull-left">&nbsp</span>
                        <div id="detail-heading"><h5>Select a route</h5></div>
                    </div>
                    <div id="detail-panel-body" class="panel-body">
                        <p><span class="image"></span></p>
                        <p><span class="description"></span></p>
                        <p><span><strong>Created: </strong></span><span class="created"></span></p>
                        <p><hr/></p>
                        <p><a class="editlink" href=""><button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span> Edit this route</button></a></p>
                        <p><a class="download" href=""><button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-download-alt"></span> Download GPX</button></a></p>
                        <p><a class="waypointlink" href=""><button class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-list"></span> List Waypoints</button></a></p>
                        <p>
                            <form id="deleteForm" method="post" action="" role="form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" value="DELETE" name="_method"/>
                            <a><button id="btnDelete" type="button" class="btn btn-sm btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete this route</button></a>
                        </form>
                        </p>  
                    </div>
                </div
            </div>
        </div>
    </div>
    <!-- bootstrap modal -->
    <div class="modal fade" id="deleteRouteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Really delete this route?</h4>
            </div>
            <div class="modal-body">
             <p><span class="glyphicon glyphicon-exclamation-sign" style="float:left; font-size: 2.0em; color: red; margin:0 7px 25px 0;"> 
             </span>This Route will be permanently deleted and cannot be recovered. All associated waypoints will also be deleted. Are you sure?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
              <button id="deleteConfirm" type="button" class="btn btn-danger">Delete Route</button>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
{% block corejs %}
{{ block.super }}
<script src="{% static "ui/js/routes/ListRoutes.js" %}" type="text/javascript"></script>
<script src="{% static "ui/js/Config.js"  %}" type="text/javascript"></script>
<script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}
