{% extends "comap/base.html" %}
{% load staticfiles %}
{% block container %}
<div id="login">
<h2>Login to CoMap</h2>

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="loginForm">
{% csrf_token %}
    <div class="form-group row" id="form-group-username">
        <div class="col-md-2">
            <strong><label class="control-label" for="username">Username: </label></strong>
            <input class="form-control" type="text" name="username" id="username" value=""/>
        </div>
    </div>
    <div class="form-group row" id="form-group-password">
        <div class="col-md-2">
            <strong><label class="control-label" for="password">Enter your password: </label></strong>
            <input name="password" id="password" class="form-control" type="password"/>
        </div>
    </div>
    <div class="form-group row pull-left">
        <div class="col-md-4">
            <button id="save" type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
<input type="hidden" name="next" value="{{ next }}" />
</form>
</div>
{% endblock %}
{% block corejs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        
        $('#loginForm').formValidation({
                framework: 'bootstrap',
        
                // Feedback icons
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
        
                // List of fields and their validation rules
                fields: {
                    username: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter your username.'
                            },
                        }
                    },
                    password: {
                        validators: {
                            notEmpty: {
                                message: 'Please enter your password.'
                            }
                        }
                    }
                }
        }); 
    });
</script>
{% endblock %}




