{% extends "comap/base.html" %}
{% load staticfiles %}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
      {% block navbar %}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/comap/waypoints">CoMap ~ Community Mapping</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/comap/login/">Login</a></li>            
          </ul>   
        </div><!--/.nav-collapse -->
      </div>
      {% endblock %}
      <div id="progressbar">
                  <div class="progress-label"></div>
           </div>
    </div>
{% block container %}
    
{% block content %}
<h2>You have successfully logged out of CoMap</h2>
<div id="logout" class="panel panel-default">
  <div class="panel-body">
    <a href="/comap/login">Login</a>
  </div>
</div>

{% endblock %}

{% endblock %}




