{% extends "comap/base.html" %}
{% load staticfiles %}
{% block container %}
    
    {% block navbar %}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/comap/waypoints">CoMap Waypoint Editor</a>
        </div>
      </div>
    {% endblock %}
    

{% block content %}
<h2>You have successfully logged out of CoMap</h2>

<a href="/comap/login">Login</a>

{% endblock %}

{% endblock %}




