@media (min-width: 1200px) {
  .container {
    width: auto;
  }
}

html, body {
  font-family: Lato;
  width: 100%;
  height: 100%;
}

a {
    color: #526325;
    text-decoration: none;
}

div#list {
    margin-right: 2em;
    float: left;
}

.list-group-item {
  padding: 5px;
}

div#list a {
    text-decoration: none;
}

div#list a:hover {
    color: purple;
}

div#map {
    width: 50em;
    height: 50em;
    float: left;
    margin-top: 5em;
    border: 1px dashed lightgrey;
}

.info {
    margin-left: 2em;
    border: 1px dashed lightgrey;
    float: left;
    width: 30%;
    padding: 2em;
}

.error {
    border: 1px dashed red;
}

ul {
    list-style-type: none;
}

img#info {
    width: 450px;
    height: 314px;
}

/* Edit page */


div#edit {
    border: 1px dashed lightgrey;
    width: 55%;
    float: left;
    padding: 2em !important;
    margin-right: 2em;
}

/*
div#edit input {
    border: 1px solid darkgrey;
}
*/

div#edit-map {
    width: 25em;
    height: 25em;
    float: left;
    margin-top: 5em;
    border: 1px dashed lightgrey;
}

.ui-progressbar .ui-progressbar-value {
    margin: 0px;
}

.ui-widget-header {
    background: #699965;
    border: 1px solid #DDDDDD;
    color: #333333;
    font-weight: bold;
    padding: 1px;
 }
    
.progress-label {
   left: 50%;
   top: 13px;
   font-weight: bold;
   text-shadow: 1px 1px 0 #fff;
}

.olControlAttribution {
    background: none repeat scroll 0 0 white;
    bottom: 0em !important;
    display: block;
    font-size: smaller;
    padding: 0.2em;
    position: absolute;
}

div#location {
  margin-left: 4.5em;
}

.div {
    padding:10px;
}

.form-control:focus {
    border-color: rgba(82,168,236,.8) ;
    outline: 0;
    outline: thin dotted \9;
    -moz-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6) !important;
    background-color: #eee;
}


